.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Writing_Compo{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: grey;
}
.head{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Title{
  margin-left: 50px;
}
.mini_title{
  margin-left: 50px;
}
.Search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.Main{
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 16px;
  border:5px solid black
}
form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}
.title_name{
  border: none;
  border-bottom: 1px solid rgb(97, 97, 227);
  width: 30vw;
  height: inherit;
  margin-left: 20px;
}
article{
  width: 90%;
  margin: 0 auto;
  height: 50%;
  display: flex;
  justify-content: center;
  
}
.Main_content{
  display: block;
  width: inherit;
  height: 100%;
  text-wrap: wrap;
  font-size: 12px;
}
section{
  display: flex;
  justify-content: center;
  padding: 30px
}
section button{
  width: 100px;
  height: 30px;
  margin: 15px;
}

/* ----------글상세 태원님 css ----------
.board-detail{
  margin-top: 40px;
  padding: 20px;
  background: #eee;

}
.board-head{
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}
 */